@{
    ViewData["Title"] = "Página inicial";
}

<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Seu Nome">
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" placeholder="Seu login">
    </div>
    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="number" class="form-control" id="cpf" placeholder="Seu CPF">
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Sua senha">
    </div>
    <div class="form-group">
        <label for="confirmaSenha">Confirmar senha</label>
        <input type="password" class="form-control" id="confirmaSenha" placeholder="Confirme sua senha">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>