@model List<UsuarioModel>
@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Consultar</h1>
    <p>Prova de conhecimentos</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scope="col">Login</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            foreach (UsuarioModel usuario in Model)
            {
                <tr>
                    <th scope="row">@usuario.Id</th>
                    <td>@usuario.NOME</td>
                    <td>@usuario.CPF</td>
                    <td>@usuario.LOGIN</td>
                </tr>
            }
        }
    </tbody>
</table>